# QUESTION 1

In [1]:
lit = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

lit.sort(key = lambda x:x[1])

lit

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

# QUESTION 2
squaring the elements of the list by map and lambda function

In [2]:
array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x:x**2, array))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# QUESTION 3
list to tuple by map and lambda function

In [3]:
the_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x:str(x), the_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# QUESTION 4

In [4]:
the_list = list(range(1,26))
the_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [5]:
from functools import reduce

reduce(lambda x,y:x*y, the_list)

15511210043330985984000000

# QUESTION 5
filter the numbers in given list which are divide by 2 and 3

In [12]:
the_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x:x%6 == 0, the_list))

[6, 60, 90, 120]

# QUESTION 6
filter the pallindroms from the list by using filter method

In [18]:
the_pallindrom = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x:x[::-1] == x, the_pallindrom))

['php', 'aba', 'radar', 'level']