QUESTION 1

In [5]:
#string
str = 'wallah'
print(type(str))

#list
ls = [1,2,'f',34,'ghj']
print(type(ls))

#float
flt = 3.40
print(type(flt))

#tuple
tup = 1,24,3,'45','r'
print(type(tup))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

QUESTION 2

In [9]:
var1 = ' ' # string
print(type(var1))

var2 = '[ DS , ML , Python]'  #string
print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ] #list
print(type(var3))

var4 = 1 # int
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

QUESTION 3

i. / is used for division which gives answer in float datatype by default.

In [11]:
print(10/2)
type(10/2)

5.0

float

ii. % is the modulos operator which is used to find the reminder of a division

In [13]:
print(10%6)

4

iii. // is also the division operator but gives the result in int datatype.

In [14]:
print(10//2)
type(10//2)

5

int

iv. ** is the operator to find exponential power of a number.

In [15]:
print(5**2)

25

QUESTION 4

In [6]:
my_list = [12,'strin',True,3.0,7+9j,'a',2,'45',False,'pw']
for i in my_list:
    print(i)
    print(type(i))

12
<class 'int'>
strin
<class 'str'>
True
<class 'bool'>
3.0
<class 'float'>
(7+9j)
<class 'complex'>
a
<class 'str'>
2
<class 'int'>
45
<class 'str'>
False
<class 'bool'>
pw
<class 'str'>

QUESTION 5

In [9]:
C=A = int(input("enter the number A:"))
B = int(input("enter the number B:"))

count = 0

while A%B == 0:
    A = A // B
    count += 1
    
if count>0 :
    print(C,"is divisible by",B,",",count,"times")
else:
    print(A,"is not divided by",B)

enter the number A: 11
enter the number B: 2

11 is not divided by 2

QUESTION 6

In [24]:
lst = list(range(1,26)) # create a list of numbers from 1 to 25

for i in lst:
    if i%3 == 0:
        print(f"{i} is DIVISIBLE by 3")
    else:
        print(f"{i} is NOT divisible by 3")

1 is NOT divisible by 3
2 is NOT divisible by 3
3 is DIVISIBLE by 3
4 is NOT divisible by 3
5 is NOT divisible by 3
6 is DIVISIBLE by 3
7 is NOT divisible by 3
8 is NOT divisible by 3
9 is DIVISIBLE by 3
10 is NOT divisible by 3
11 is NOT divisible by 3
12 is DIVISIBLE by 3
13 is NOT divisible by 3
14 is NOT divisible by 3
15 is DIVISIBLE by 3
16 is NOT divisible by 3
17 is NOT divisible by 3
18 is DIVISIBLE by 3
19 is NOT divisible by 3
20 is NOT divisible by 3
21 is DIVISIBLE by 3
22 is NOT divisible by 3
23 is NOT divisible by 3
24 is DIVISIBLE by 3
25 is NOT divisible by 3

QUESTION 7

Mutable data types means any indexed value can be changed anytime. Example of a mutable data type is list.

In [27]:
# Mutable
lst = list(range(10))
print(lst)
lst[3] = 'a'
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 'a', 4, 5, 6, 7, 8, 9]

Immutable data type means indexed values cannot be changed futher. Example of mutable data types is tuple, string.

In [29]:
# Immutable
str = 'physicswallah'
print(str[2])
str[2] = 3 # error showing --> 'str' object does not support item assignment

y

TypeError: 'str' object does not support item assignment